Bootstrap-Flask == 2.4.1
click           == 8.1.8
dominate        == 2.9.1
Flask           == 3.1.0
Flask-Assets    == 2.1.0
flask-bootstrap5 >= 0.1.dev1
importlib-metadata == 8.6.1
pip-install         == 1.3.5
itsdangerous    == 2.2.0
Jinja2          == 3.1.5
libsass         == 0.23.0
MarkupSafe      == 3.0.2
numpy           == 2.2.3
pandas          == 2.2.3
pip             == 25.0.1
python-dateutil == 2.9.0.post0
pytz            == 2025.1
setuptools      == 75.8.2
six             == 1.17.0
toml            == 0.10.2
typing_extensions == 4.12.2
visitor         == 0.1.3
webassets       == 2.0
Werkzeug        == 3.1.3
WTForms         == 3.2.1
zipp            == 3.21.0
sqlalchemy      == 2.0.38
flask-sqlalchemy >= 3.0.1
psycopg2-binary == 2.9.10
flask-migrate   == 4.1.0
gunicorn        == 23.0.0
flask-moment   == 1.0.6
flask-WTF      == 1.2.2