<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}AssetCheckout</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 2em;
            margin-left: 5px;
            text-decoration: none;
        
            
        }
        nav a:not(:first-child):before {
        content: " | ";
        }

        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <nav>    
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('create_asset') }}">Create Asset</a>
        <a href="{{ url_for('checkin') }}">Check In</a>
        <a href="{{ url_for('checkout') }}">Check Out</a>
        <a href="{{ url_for('status') }}">Asset Status</a>
        <a href="{{ url_for('staff_create') }}">Create Staff</a>
        <a href="{{ url_for('staff') }}">Staff</a>
        <a href="{{ url_for('bulk_import') }}">Bulk Import</a>
        <a href="{{ url_for('history') }}">History</a>
        <!-- <a href="{{ url_for('status') }}">Asset Status</a>
        <a href="{{ url_for('status') }}">Asset Status</a>
         -->
        <a href="#">About</a>
    
    </nav>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>
