{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Bulk Asset Create {% endblock %}</h1>
    <p>Please select mapping of columns to asset info</p>
    {% if form_type == 'assets'  %}
        <form method="POST">
            <label>Asset ID:</label>
            <select class="form-control" name="asset_id" id="asset_id">
                {% for header in headers_list %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            <b>|</b>
            <label>Asset Type:</label>
            <select class="form-control" name="asset_type",id="assset_type">
                {% for header in headers_list %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            <b>|</b>
            <label>Asset Status:</label>
            <select class="form-control" name="asset_status" id="asset_status">
                <option value="Available">Available</option>
                {% for header in headers_list %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary btn-lg">Import</button>
        </form>
    {% else %}
        <form method="POST">
            <label>First Name:</label>
            <select class="form-control" name="first_name" id="first_name">
                {% for header in headers_list %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            <b>|</b>
            <label>Last Name:</label>
            <select class="form-control" name="last_name",id="last_name">
                {% for header in headers_list %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            <p>
            <label>Staff ID:</label>
            <select class="form-control" name="staff_id" id="staff_id">
                {% for header in headers_list %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            <b>|</b>
            <label>Division:</label>
            <select class="form-control" name="division" id="division">
                {% for header in headers_list %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            <p>
            <label>Department:</label>
            <select class="form-control" name="department" id="department">
                {% for header in headers_list %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            <b>|</b>
            <label>Title:</label>
            <select class="form-control" name="title" id="title">
                {% for header in headers_list %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary btn-lg">Import</button>
        </form>
    {% endif %}
    {{ data_var|safe }}
 
{% endblock %}

