{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} Checkout Asset {% endblock %}</h1>
    <form method="POST" id='inputform'>
        <label for="title">ID</label>
        <br>
        <input type="text" name="id"
               placeholder="Asset ID"
               value="{{ request.form['id'] }}"
               data-index="1"></input>
        <br>
        <label for="title">Accessory</label>
        <br>
        <input type="text" name="accessoryid"
                placeholder="Accessory ID"
                value="{{ request.form['accessoryid'] }}"
                data-index="2"></input>
        <br>
        <label for="type">Staff ID</label>
        <br>
        <input type="text" name="staffid"
                placeholder="Staff ID"
                value=""{{ request.form[staffid]}}
                data-index="3"></input>
        <br>
        <button type="submit" data-index="4">Checkout</button>
    </form>
    <script>
        $(document).ready({
            document.querySelector('#inputform input').addEventListener('KeyDown', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    var index = event.target.dataset.index;
                    document.querySelector('[data-index="' + (index + 1).toString() + '"]').focus();
                }
            })
        })
    </script>
{% endblock %}



