{% extends 'base.html' %}

{% block content %}  
<table id="Assets" class="table table-striped">
    <thead>
      <tr>
        <th>Asset ID</th>
        <th>staff ID</th>
        <th>Department</th>
        <th>Division</th>
        <th><div>Checkout Time</div><div>Browser Local</div></th>
        <th><div>Return Time</div><div>Browser Local</div></th>
      </tr>
    </thead>
    <tbody>
      {% for asset in assets %}
        <tr>
          <td>{{ asset.assetid }}</td>
          <td>{{ asset.staffid }}</td>
          <td>{{ asset.department }}</td>
          <td>{{ asset.division }}</td>
          <td>{{ moment(timestamp=asset.checkouttime).format('LLL') }}</td>
          <td>{{ moment(timestamp=asset.returntime).format('LLL') }}</td>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}