{% extends 'base.html' %}

{% block content %}  
<table id="Staff" class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Staff ID</th>
        <th>Division</th>
        <th>Department</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for staff in staffs %}
        <tr>
          <td>{{ staff.FirstName }}</td>
          <td>{{ staff.LastName }}</td>
          <td>{{ staff.id }}</td>
          <td>{{ staff.Division }}</td>
          <td>{{ staff.Department }}</td>
          <td>{{ staff.Title }}</td>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}