{% extends 'base.html' %}

{% block content %}  
<table id="Assets" class="table table-striped">
    <thead>
      <tr>
        <th>Radio ID</th>
        <th>Type</th>
        <th>Status</th>
        <th>Edit</th>
        <th>History</th>
      </tr>
    </thead>
    <tbody>
      {% for asset in assets %}
        <tr>
          <td>{{ asset.id }}</td>
          <td>{{ asset.asset_type }}</td>
          <td>{{ asset.asset_status }}</td>
          <td><button type="button" onclick=location.href="{{ url_for('asset_edit', asset_id=asset.id) }}">Edit</button>
          </td>
          <td><button type="button" onclick="document.location.href='/single_history/asset/{{asset.id}}'">History</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}